In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
#import the european restaurant data
file_name = "../trip_advisor/tripadvisor_european_restaurants.csv"
import_csv = pd.read_csv(file_name)

C:\Users\julia\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#import Data into DF
euro_resto = pd.DataFrame(import_csv)

In [4]:
#drop columns not used
euro_resto_clean = euro_resto.drop(['restaurant_link','original_location', 'claimed', 'keywords', 
                              'atmosphere', 'price_range', 'popularity_detailed', 
                              'popularity_generic', 'top_tags', 'meals','special_diets', 'features', 
                              'vegetarian_friendly', 
                              'vegan_options','gluten_free', 'original_open_hours', 'open_days_per_week',
                              'open_hours_per_week', 'working_shifts_per_week',
                              'reviews_count_in_default_language', 'excellent', 'very_good',
                             'average', 'poor', 'terrible', 'food', 'service', 'value', 'atmosphere',
                             'keywords', 'default_language', 'province', 'address'], axis=1)

In [5]:
#filter the dataset to only include The british Island countries
britain_df = euro_resto_clean.loc[(euro_resto_clean['country'] == "England")| 
                                    (euro_resto_clean['country'] == "Ireland")|
                                   (euro_resto_clean['country'] == "Scotland")|
                                    (euro_resto_clean['country'] == "Wales")]

In [6]:
#remove any rows that have blank latitude, longitude or price_level
britain_df = britain_df.dropna(subset=['latitude', 'longitude', 'price_level'])

### Michelin Award

In [7]:
#find awards that have michelin
britain_df['michelin'] = britain_df['awards'].str.contains('Michelin')

#clean michelin table
britain_df['michelin'] = britain_df['michelin'].replace({False: 0, True: 1})
britain_df['michelin'] = britain_df['michelin'].fillna(0)

### Any Award

In [8]:
britain_df['any_award'] = britain_df['awards'].isnull()
britain_df['any_award'] = britain_df['any_award'].replace({False: 1, True: 0})

In [9]:
britain_df.head()

,restaurant_name,country,region,city,latitude,longitude,awards,price_level,cuisines,avg_rating,total_reviews_count,michelin,any_award
478379,Cafe Mylor,England,Cornwall,Mylor Churchtown,50.177025,-5.053397,"Travellers' Choice, Certificate of Excellence ...",€€-€€€,"Cafe, British",4.5,347.0,0.0,1
478380,Subway,England,Surrey,Byfleet,51.337010,-0.504781,NaN,€,Deli,3.5,4.0,0.0,0
478382,Basmati tandoori,England,Surrey,Byfleet,51.339140,-0.478110,NaN,€€-€€€,"Indian, Asian, Bangladeshi",3.0,4.0,0.0,0
478383,China Chef,England,Surrey,Byfleet,51.338920,-0.476430,NaN,€€-€€€,Chinese,2.5,10.0,0.0,0
478384,The Plough,England,Surrey,Byfleet,51.338780,-0.474000,NaN,€€-€€€,"Pub, Bar, British",3.5,32.0,0.0,0

### Correct the price_level

In [10]:
#check null values for price_level
britain_df['price_level'].notnull().count()

137465

In [11]:
#check how many characters need to be corrected
unique_price_level = britain_df['price_level'].unique()
unique_price_level

array(['€€-€€€', '€', '€€€€'], dtype=object)

In [12]:
#apply the map function to turn euro symbol to number
britain_df['price_level'] = britain_df['price_level'].map({'€':1,'€€-€€€':2, '€€€€':3 })

In [13]:
britain_df.head(5)

,restaurant_name,country,region,city,latitude,longitude,awards,price_level,cuisines,avg_rating,total_reviews_count,michelin,any_award
478379,Cafe Mylor,England,Cornwall,Mylor Churchtown,50.177025,-5.053397,"Travellers' Choice, Certificate of Excellence ...",2,"Cafe, British",4.5,347.0,0.0,1
478380,Subway,England,Surrey,Byfleet,51.337010,-0.504781,NaN,1,Deli,3.5,4.0,0.0,0
478382,Basmati tandoori,England,Surrey,Byfleet,51.339140,-0.478110,NaN,2,"Indian, Asian, Bangladeshi",3.0,4.0,0.0,0
478383,China Chef,England,Surrey,Byfleet,51.338920,-0.476430,NaN,2,Chinese,2.5,10.0,0.0,0
478384,The Plough,England,Surrey,Byfleet,51.338780,-0.474000,NaN,2,"Pub, Bar, British",3.5,32.0,0.0,0

In [14]:
number_rows = britain_df.count()
number_rows

restaurant_name        137465
country                137465
region                 136948
city                   115595
latitude               137465
longitude              137465
awards                  55023
price_level            137465
cuisines               129548
avg_rating             133785
total_reviews_count    135156
michelin               137465
any_award              137465
dtype: int64

In [16]:
britain_df.to_csv("../Resources/europe_data_independent.csv")