# Exploratory Michelin Star

In [1]:
#import the dependencies
import pandas as pd

In [2]:
#create a list of files --> will be used in the loop to import
file_names = ["../michelin/one-star-michelin-restaurants.csv",
              "../michelin/two-stars-michelin-restaurants.csv",
              "../michelin/three-stars-michelin-restaurants.csv"]

In [3]:
#create an empty DF that will eventually hold the 3 files (perm-DF)
michelin_df = pd.DataFrame()
michelin_df

Empty DataFrame
Columns: []
Index: []

In [4]:
#import the data
#for loop to cycle through each file

for i in file_names:
    #import the data
    michelin_data = pd.read_csv(i)
    
    #clear the temp df
    temp_df = pd.DataFrame()
    
    #add file to DF
    temp_df = pd.DataFrame(michelin_data)
    
    #create a column to add the # of stars
    temp_df['stars'] = (file_names.index(i)+1)
        
    #append temp df to michelin_df
    michelin_df = michelin_df.append(temp_df, ignore_index=True)
# michelin_df.head()
michelin_df = michelin_df.drop(['url'], axis=1)

In [5]:
michelin_df.head()
# michelin_df.dtypes

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,stars
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,1

In [6]:
#create a location key

michelin_df['latitude']=michelin_df['latitude'].astype(str)
michelin_df['longitude']=michelin_df['longitude'].astype(str)
michelin_df['location_key'] = michelin_df[['latitude', 'longitude']].apply(lambda x: ''.join(x), axis=1)

In [8]:
michelin_df

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,stars,location_key
0,Kilian Stuba,2019,47.34858,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,1,47.3485810.17114
1,Pfefferschiff,2019,47.83787,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,1,47.8378713.07917
2,Esszimmer,2019,47.80685,13.03409,Salzburg,Austria,5020,Creative,$$$$$,1,47.8068513.03409
3,Carpe Diem,2019,47.80001,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,1,47.8000113.04006
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,1,48.21650316.36852
...,...,...,...,...,...,...,...,...,...,...,...
690,Fat Duck,2019,51.50828,-0.70232,Bray,United Kingdom,SL6 2AQ,Creative,NaN,3,51.50828-0.70232
691,Waterside Inn,2019,51.50773,-0.70121,Bray,United Kingdom,SL6 2AT,Classic French,NaN,3,51.50773-0.70121
692,Alain Ducasse at The Dorchester,2019,51.50712,-0.1525201,Mayfair,United Kingdom,W1K 1QA,French,NaN,3,51.50712-0.1525201
693,The Araki,2019,51.511826,-0.140389,Mayfair,United Kingdom,W1S 3BF,Japanese,NaN,3,51.511826-0.140389
694,Gordon Ramsay,2019,51.48546,-0.1620201,Chelsea,United Kingdom,SW3 4HP,French,NaN,3,51.48546-0.1620201

In [10]:
michelin_df.isnull().sum()

name              0
year              0
latitude          0
longitude         0
city              2
region            0
zipCode         194
cuisine           0
price           176
stars             0
location_key      0
dtype: int64

In [ ]:
# Clean the data

In [ ]:
#join with the zomato based on location key