In [261]:
import json
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [90]:
#import the european restaurant data
file_name = "countries of the world.csv"
import_csv = pd.read_csv(file_name)

In [91]:
#import Data into DF
countries_data = pd.DataFrame(import_csv)

In [262]:
#drop columns not used
countries_data_clean = countries_data.drop(['Region','Coastline (coast/area ratio)', 'Net migration', 'Infant mortality (per 1000 births)', 
                              'Literacy (%)', 'Phones (per 1000)', 'Crops (%)', 
                              'Other (%)', 'Climate', 'Birthrate','Deathrate', 'Agriculture', 
                              'Industry','Arable (%)'], axis=1)

In [263]:
# Change coloumn name from United Area (sq. mi.) to Area 

countries_data_clean.rename(columns={'Area (sq. mi.)': 'Area'}, inplace=True)

In [264]:
# Change coloumn name from United Pop. Density (per sq. mi.) to Pop_Density 

countries_data_clean.rename(columns={'Pop. Density (per sq. mi.)': 'Pop_Density'}, inplace=True)

In [265]:
# Change coloumn name from United GDP ($ per capita) to GDP 

countries_data_clean.rename(columns={'GDP ($ per capita)': 'GDP'}, inplace=True)

In [266]:
# To remove space at the end of Country name
j=0
for i in countries_data_clean.Country:
    if i[-1:]== ' ':
        countries_data_clean["Country"][j]=i[:-1]
    j=j+1

In [267]:
# Checking to see if space is removed
countries_data_clean["Country"][0]

'Afghanistan'

In [268]:
# Change coloumn name from United Kingdom to England 
countries_data_clean["Country"].replace('United Kingdom', 'England',  inplace=True)

In [269]:
#Checking to see if Rpw name was succesfully Changed
countries_data_clean[countries_data_clean['Country'] == "England"]

     Country  Population    Area Pop_Density      GDP Service
213  England    60609153  244820       247,6  27700.0   0,758

In [271]:
#filter the dataset to only include The most visited countries 
countries_df = countries_data_clean.loc[(countries_data_clean['Country'] == "England")| 
                                    (countries_data_clean['Country'] == "Ireland")|
                                   (countries_data_clean['Country'] == "France")|
                                    (countries_data_clean['Country'] == "Italy")]

In [272]:
# Remove commas and change it to decimals
for j in range(0,len(countries_df.Pop_Density)):
    countries_df.iloc[j,3]=countries_df.iloc[j,3].replace(',','.')

In [273]:
countries_df['Service'] = countries_df.Service.str.replace(',','.')

In [274]:
countries_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 69 to 213
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      4 non-null      object
 1   Population   4 non-null      int64
 2   Area         4 non-null      int64
 3   Pop_Density  4 non-null      object
 4   GDP          4 non-null      float64
 5   Service      4 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 224.0+ bytes

In [280]:
countries_df.Pop_Density=countries_df.Pop_Density.astype(float)
countries_df.Service=countries_df.Service.astype(float)

In [281]:
countries_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 69 to 213
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      4 non-null      object
 1   Population   4 non-null      int64
 2   Area         4 non-null      int64
 3   Pop_Density  4 non-null      float64
 4   GDP          4 non-null      float64
 5   Service      4 non-null      float64
dtypes: float64(3), int64(2), object(1)
memory usage: 224.0+ bytes

In [282]:
countries_df.to_csv("../project/countires.csv")