## Import Data from Database

In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass

In [3]:
#import database information & create engine
password = getpass("Enter database password")


engine = create_engine(f'postgresql://postgres:{password}@europeanrestaurants.codkjybkqvuj.us-east-1.rds.amazonaws.com', 
                       echo=False)

Enter database password········

In [16]:
#fetch all data
resto_data_df = engine.execute("SELECT * FROM resto_country_data").fetchall()

In [17]:
#import data into dataframe
resto_data_df = pd.DataFrame(resto_data_df)

In [18]:
#drop old index
resto_data_df = resto_data_df.drop([0], axis=1)

In [19]:
#rename columns
resto_data_df = resto_data_df.rename(columns={1: 'restaurant_name',
                                              2: 'country',
                                              3: 'latitude',
                                              4:'longitude',
                                              5:'awards',
                                              6:'price_level',
                                              7:'avg_rating',
                                              8:'total_reviews_count',
                                              9:'michelin',
                                              10: 'any_award',
                                              11:'country_population',
                                              12:'country_area',
                                              13:'country_pop_density',
                                              14:'country_gdp',
                                              15:'country_service'
                                           })

In [20]:
resto_data_df = resto_data_df.rename_axis('Index')

In [21]:
resto_data_df

,restaurant_name,country,latitude,longitude,awards,price_level,avg_rating,total_reviews_count,michelin,any_award,country_population,country_area,country_pop_density,country_gdp,country_service
Index,,,,,,,,,,,,,,,
0,Le 147,France,45.961674,1.169131,None,1,4.0,36.0,0.0,0,60876136,547030,111.3,27600.0,0.764
1,Le Saint Jouvent,France,45.957040,1.205480,None,1,4.0,5.0,0.0,0,60876136,547030,111.3,27600.0,0.764
2,Au Bout du Pont,France,46.635895,1.386133,None,1,5.0,13.0,0.0,0,60876136,547030,111.3,27600.0,0.764
3,Le Relais de Naiade,France,45.642610,1.824460,None,1,4.0,34.0,0.0,0,60876136,547030,111.3,27600.0,0.764
4,Relais Du MontSeigne,France,44.208860,2.960470,None,2,4.5,11.0,0.0,0,60876136,547030,111.3,27600.0,0.764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422062,Motte & Bailey Restaurant,Ireland,53.427540,-7.773970,Certificate of Excellence 2017,2,4.5,104.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422063,Frank's Cafe,Ireland,53.396410,-7.724860,None,1,5.0,8.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422064,Supermac's & Papa John's,Ireland,53.395520,-7.720757,None,1,4.5,11.0,0.0,0,4062235,70280,57.8,29600.0,0.490
422065,Tuar Ard Coffee Shop & Restaurant,Ireland,53.395832,-7.725000,"Travellers' Choice, Certificate of Excellence ...",2,4.5,106.0,0.0,1,4062235,70280,57.8,29600.0,0.490
422066,P. Egan's Bar,Ireland,53.395930,-7.721720,None,1,5.0,23.0,0.0,0,4062235,70280,57.8,29600.0,0.490