In [1]:
#import dependencies
import pandas as pd

In [2]:
#import the michelin dataset
michelin_to_load = 'resources/michelin_data.csv'
michelin_raw = pd.read_csv(michelin_to_load)

#make it a DF
michelin_data = pd.DataFrame(michelin_raw)
michelin_data.head(2)

,Unnamed: 0,name,year,latitude,longitude,city,region,zipCode,cuisine,price,stars,lat_trunc,long_trunc,location_key,restaurant_name_clean
0,261,Aniar,2019,53.27112,-9.057078,Gaillimh/Galway,Ireland,NaN,Creative,NaN,1,5327,-905,5327_-905,Aniar
1,262,Loam,2019,53.27384,-9.044447,Gaillimh/Galway,Ireland,NaN,Creative,NaN,1,5327,-904,5327_-904,Loam

In [3]:
#rename_column
michelin_data['restaurant_name'] = michelin_data['name']
michelin_data.head()

,Unnamed: 0,name,year,latitude,longitude,city,region,zipCode,cuisine,price,stars,lat_trunc,long_trunc,location_key,restaurant_name_clean,restaurant_name
0,261,Aniar,2019,53.271120,-9.057078,Gaillimh/Galway,Ireland,NaN,Creative,NaN,1,5327,-905,5327_-905,Aniar,Aniar
1,262,Loam,2019,53.273840,-9.044447,Gaillimh/Galway,Ireland,NaN,Creative,NaN,1,5327,-904,5327_-904,Loam,Loam
2,263,Wild Honey Inn,2019,53.031510,-9.291100,Lios Dúin Bhearna/Lisdoonvarna,Ireland,NaN,Classic cuisine,NaN,1,5303,-929,5303_-929,Wild Honey,Wild Honey Inn
3,264,Chestnut,2019,51.562588,-9.460854,Ballydehob,Ireland,NaN,Modern cuisine,NaN,1,5156,-946,5156_-946,Chestnut,Chestnut
4,265,Mews,2019,51.482850,-9.372340,Baltimore,Ireland,NaN,Modern cuisine,NaN,1,5148,-937,5148_-937,Mews,Mews

In [4]:
#import the restaurant dataset
resto_to_load = 'resources/british_islands_clean.csv'
resto_raw = pd.read_csv(resto_to_load)

#make it a DF
resto_data = pd.DataFrame(resto_raw)
resto_data.head(2)

,Unnamed: 0,restaurant_name,country,region,province,city,address,latitude,longitude,awards,price_level,cuisines,avg_rating,total_reviews_count,location_key,restaurant_name_clean
0,478379,Cafe Mylor,England,Cornwall,Falmouth,Mylor Churchtown,"Penarrow Road Mylor Yacht Harbour, Mylor Churc...",50.177025,-5.053397,"Travellers' Choice, Certificate of Excellence ...",2,"Cafe, British",4.5,347.0,5017_-505,Cafe Mylor
1,478380,Subway,England,Surrey,NaN,Byfleet,"39 Old Woking Road, Byfleet KT14 6LG England",51.337010,-0.504781,NaN,1,Deli,3.5,4.0,5133_-50,Subway

In [5]:
#join the datasets

joined_data = pd.merge(resto_data , michelin_data, on=["location_key", 'restaurant_name_clean'], how='outer')

In [6]:
# joined_data.head(4)

In [7]:
#export
joined_data.to_csv('resources/joined_data.csv')

In [8]:
#export to the database (AWS?  SQL)