# Preliminary Analysis

#### To test different models using a preliminary dataset of the mock restaurant data

In [1]:
import numpy as np
import pandas as pd
from path import Path
import matplotlib.pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
data = Path('Resources/clean_britian_restaurants.csv')
df = pd.read_csv(data)
df.head()

,Unnamed: 0,awards,price_level,vegetarian_friendly,avg_rating,total_reviews_count,service
0,478379,1,2.0,Y,4.5,347.0,4.5
1,478384,0,2.0,N,3.5,32.0,3.5
2,478386,0,2.0,Y,4.0,101.0,4.5
3,478389,1,2.0,Y,4.5,104.0,4.5
4,478392,0,2.0,Y,3.5,34.0,3.0

In [3]:
df = df.drop(columns=['Unnamed: 0'])

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['vegetarian_friendly'] = le.fit_transform(df2['vegetarian_friendly'])
df2.head()

,awards,price_level,vegetarian_friendly,avg_rating,total_reviews_count,service
0,1,2.0,1,4.5,347.0,4.5
1,0,2.0,0,3.5,32.0,3.5
2,0,2.0,1,4.0,101.0,4.5
3,1,2.0,1,4.5,104.0,4.5
4,0,2.0,1,3.5,34.0,3.0

In [5]:
df2.dtypes

awards                   int64
price_level            float64
vegetarian_friendly      int32
avg_rating             float64
total_reviews_count    float64
service                float64
dtype: object

In [6]:
df2.isnull().sum()

awards                   0
price_level              0
vegetarian_friendly      0
avg_rating             181
total_reviews_count    181
service                  0
dtype: int64

In [7]:
df2 = df2.dropna(how='any', subset=['avg_rating', 'total_reviews_count'])

In [8]:
df2.shape

(110123, 6)

## Logistic Regression

Logistic Regression is used when the dependent variable (target) is categorical.
Solves classification problems

In [9]:
# Separate the Features (X) from the Target (y)
y = df2["awards"]
X = df2.drop(columns="awards")

In [10]:
# Split our data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
X_train.shape

(77086, 5)

In [11]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression(solver='lbfgs',
                                max_iter=500,
                                random_state=1)

In [12]:
# Train the model using the training data and make predictions
logmodel.fit(X_train, y_train)
ypredictions_log = logmodel.predict(X_test)
log_results = pd.DataFrame({"Prediction": ypredictions_log, "Actual": y_test}).reset_index(drop=True)
log_results.head(10)

   Prediction  Actual
0           1       1
1           0       0
2           0       0
3           1       0
4           0       1
5           1       1
6           1       1
7           1       1
8           1       0
9           1       0

In [13]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [14]:
print(accuracy_score(y_test, ypredictions_log))

0.7888730816962799

In [15]:
print(classification_report(y_test, ypredictions_log))

              precision    recall  f1-score   support

           0       0.80      0.79      0.79     16798
           1       0.78      0.79      0.79     16239

    accuracy                           0.79     33037
   macro avg       0.79      0.79      0.79     33037
weighted avg       0.79      0.79      0.79     33037

In [16]:
print(confusion_matrix(y_test, ypredictions_log))

[[13189  3609]
 [ 3366 12873]]

In [17]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(f"MSE: {mean_squared_error(y_test, ypredictions_log)}")
print(f"RMSE: {np.sqrt(mean_squared_error(y_test, ypredictions_log))}")
print(f"MAE: {mean_absolute_error(y_test, ypredictions_log)}")

MSE: 0.21112691830372007
RMSE: 0.4594854930285831
MAE: 0.21112691830372007

 ## Gradient Boosted Tree