In [69]:
# Importing Linear Algebra
import numpy as np

In [ ]:
#!conda install graphviz

In [105]:
#Random Forest Visulization2 --Single Tree Visualization
#Background Tool Installation
!pip install django-extensions
!pip install pyparsing
!pip install graphviz
!pip install pydot
!pip install pydotplus
from sklearn.tree import export_graphviz
import pydotplus
import graphviz

Requirement already satisfied: django-extensions in d:\anaconda\lib\site-packages (3.1.5)
Requirement already satisfied: Django>=2.2 in d:\anaconda\lib\site-packages (from django-extensions) (4.0.3)
Requirement already satisfied: sqlparse>=0.2.2 in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (0.4.2)
Requirement already satisfied: tzdata in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (2022.1)
Requirement already satisfied: backports.zoneinfo in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (0.2.1)
Requirement already satisfied: asgiref<4,>=3.4.1 in d:\anaconda\lib\site-packages (from Django>=2.2->django-extensions) (3.5.0)
Requirement already satisfied: pyparsing in d:\anaconda\lib\site-packages (2.4.7)
Requirement already satisfied: graphviz in d:\anaconda\lib\site-packages (0.19.1)
Requirement already satisfied: pydot in d:\anaconda\lib\site-packages (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in d:\anaconda\lib\site-packages (from pydot) (2.4.7)
Requirement already satisfied: pydotplus in d:\anaconda\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in d:\anaconda\lib\site-packages (from pydotplus) (2.4.7)

In [106]:
import os

In [107]:
# Importing Pandas for Data processing(csv file)
import pandas as pd

In [108]:
# Split the data into train and test
from sklearn.model_selection import train_test_split

In [109]:
# Classification for Random Forest
from sklearn.ensemble import RandomForestClassifier

In [110]:
# Error Return and Analysis
from sklearn.metrics import mean_squared_error

In [111]:
# Classification return
from sklearn.metrics import classification_report

In [112]:
oneStar = pd.read_csv("Resources/one-star-michelin-restaurants.csv") 
twoStar = pd.read_csv("Resources/two-stars-michelin-restaurants.csv") 
threeStar = pd.read_csv("Resources/three-stars-michelin-restaurants.csv") 
oneStar["star"] = 1 #Fill the one star sets with 1
twoStar["star"] = 2 #Fill the two star sets with 2
threeStar["star"] = 3 #Fill the three star sets with 3
threeStar.head() #Take a peek at one of the sets

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,star
0,Amador,2019,48.25406,16.35915,Wien,Austria,1190,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,3
1,Manresa,2019,37.22761,-121.98071,South San Francisco,California,95030,Contemporary,$$$$,https://guide.michelin.com/us/en/california/so...,3
2,Benu,2019,37.78521,-122.39876,San Francisco,California,94105,Asian,$$$$,https://guide.michelin.com/us/en/california/sa...,3
3,Quince,2019,37.79762,-122.40337,San Francisco,California,94133,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...,3
4,Atelier Crenn,2019,37.79835,-122.43586,San Francisco,California,94123,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...,3

In [113]:
datasets = [oneStar, twoStar, threeStar] #Take the three datasets
stars = pd.concat(datasets) #Combine the datasets
stars.head() #Take a peek at the combined dataset

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,star
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [114]:
stars = stars.reset_index() #Reset the index
stars.head() #Take a peek at the combined dataset

,index,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,star
0,0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,4,Edvard,2019,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1

In [115]:
print(stars.columns)

Index(['index', 'name', 'year', 'latitude', 'longitude', 'city', 'region',
       'zipCode', 'cuisine', 'price', 'url', 'star'],
      dtype='object')

In [116]:
test_percent = 0.3

In [117]:
#stars = stars.drop(stars.columns[[1,2,3,4,5,6,7,10]], axis = 1, inplace = True)
#stars.head()

In [118]:
#Dataset_final = pd.read_csv(".../resources/Dataset_fianl.csv")#AWS FILE TO CSV
#Dataset_final.head()

In [119]:
#stars = datasets
#stars = stars.reset_index()
#stars.head()

In [120]:
print(stars.isnull().any())

index        False
name         False
year         False
latitude     False
longitude    False
city          True
region       False
zipCode       True
cuisine      False
price         True
url          False
star         False
dtype: bool

In [121]:
stars["price"] = stars["price"].fillna("?") #Fill null prices with unknown ?
print(stars.isnull().any()) #Make sure all null values are filled

index        False
name         False
year         False
latitude     False
longitude    False
city          True
region       False
zipCode       True
cuisine      False
price        False
url          False
star         False
dtype: bool

In [122]:
stars["city"] = stars["city"].fillna("Hong Kong") #Fill the null cities will Hong Kong, since all of the null ones are in HK
print(stars.isnull().any()) #Make sure that filled the nulls

index        False
name         False
year         False
latitude     False
longitude    False
city         False
region       False
zipCode       True
cuisine      False
price        False
url          False
star         False
dtype: bool

In [123]:
print(stars.loc[stars["zipCode"].isnull()][:4])

     index                    name  year   latitude   longitude  \
59      59            Harbor House  2019  39.135876 -123.719444
87      87                Temporis  2019  41.898907  -87.667250
137    137                 Loaf On  2019  22.379858  114.271880
138    138  Lei Garden (Kwun Tong)  2019  22.312672  114.224820

              city      region zipCode       cuisine price  \
59   San Francisco  California     NaN   Californian  $$$$
87         Chicago     Chicago     NaN  Contemporary  $$$$
137      Hong Kong   Hong Kong     NaN     Cantonese    $$
138      Hong Kong   Hong Kong     NaN     Cantonese     $

                                                   url  star
59   https://guide.michelin.com/us/en/california/sa...     1
87   https://guide.michelin.com/us/en/illinois/chic...     1
137  https://guide.michelin.com/hk/en/hong-kong-reg...     1
138  https://guide.michelin.com/hk/en/hong-kong-reg...     1

In [124]:
stars.describe()

            index         year    latitude   longitude        star
count  695.000000   695.000000  695.000000  695.000000  695.000000
mean   225.972662  2018.943885   37.260124    4.417000    1.261871
std    169.628712     0.230310   18.025875   81.095189    0.545270
min      0.000000  2018.000000  -23.634005 -123.719444    1.000000
25%     68.500000  2019.000000   25.040718  -73.982920    1.000000
50%    201.000000  2019.000000   40.727130   -0.149570    1.000000
75%    374.500000  2019.000000   51.508962  100.578855    1.000000
max    548.000000  2019.000000   63.436260  127.102570    3.000000

In [125]:
#pip install geopy

In [126]:
import geopy

In [127]:
geolocator = geopy.Nominatim(user_agent = "user_agent") #Get the geolocator

#For each row, fill null postcodes
for i in range(0, len(stars.index)):
    zipCode = stars["zipCode"][i] #Get the zipcode
    
    #If the zipcode is null
    if zipCode is np.nan:
        location = geolocator.reverse((stars["latitude"][i], stars["longitude"][i])) #Get the zip code from the geolocator
        
        #Try to get the postcode/zipcode field from the locator
        try:
            stars["zipCode"][i] = location.raw["address"]["postcode"] #Get the zip code
        
        #Fill the code with 00000 if the code cannot be accessed
        except:
            stars["zipCode"][i] = "00000" #Fill the zip code with 00000
        
print(stars.isnull().any()) #Make sure the null values have been filled

<ipython-input-127-3f38cc845b2f>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stars["zipCode"][i] = location.raw["address"]["postcode"] #Get the zip code
<ipython-input-127-3f38cc845b2f>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stars["zipCode"][i] = "00000" #Fill the zip code with 00000

index        False
name         False
year         False
latitude     False
longitude    False
city         False
region       False
zipCode      False
cuisine      False
price        False
url          False
star         False
dtype: bool

In [129]:
print(stars.loc[[59]]) #Print a row with the zip code filled
print(stars.loc[[137]]) #Print a Hong Kong row that was null, which has no zip code field, so fill with 00000

    index          name  year   latitude   longitude           city  \
59     59  Harbor House  2019  39.135876 -123.719444  San Francisco

        region zipCode      cuisine price  \
59  California   95482  Californian  $$$$

                                                  url  star
59  https://guide.michelin.com/us/en/california/sa...     1
     index     name  year   latitude  longitude       city     region zipCode  \
137    137  Loaf On  2019  22.379858  114.27188  Hong Kong  Hong Kong   00000

       cuisine price                                                url  star
137  Cantonese    $$  https://guide.michelin.com/hk/en/hong-kong-reg...     1

In [130]:
#GetChara: Get the most important features to the classification
#Input: the characteristics, the model
#Output: None
def getChara(characteristics, forest):
    attributes = characteristics.columns #Get the tested attributes
    attributes = list(zip(attributes, forest.feature_importances_)) #Zip the attributes together with their coefficient
    sortAtt = sorted(attributes, key = lambda x: x[1], reverse = True) #Sort the zipped attributes by their coefficients

    print("According to the Random Forest, the most important factors for restaurant stars are: ") #Start printing the most important labels
    i = 0 #Counter variable so only the top five are printed

    #For each attribute in the sorted attributes
    for label, coef in sortAtt:
        if i < 5: #If there has not been five printed yet
            print(label) #Print the label as an important factor
        i += 1 #Increase i by 1

#ClassifyStars: Classify which restaurants are [1] with one or more stars, or [0] without any stars.
#Input: The dataframe for the restaurants, the labels used
#Output: None
def classifyStars(stars, labels):
    star = stars["star"].copy() #Get the star as our classification metric
    star = pd.get_dummies(star) #Get dummies for the star metric

    characteristics = stars.drop(columns = {"star"}).copy() #Get the characteristics used for classification
    characteristics = pd.get_dummies(characteristics)
    
    charaTrain, charaTest, starTrain, starTest = train_test_split(characteristics, star, test_size = test_percent) #Split the dataset
    
    forest = RandomForestClassifier(n_estimators = 100000, random_state = 5) #Build a forest
    forest.fit(charaTrain, starTrain) #Fit the forest model
    
    predict = forest.predict(charaTest) #Get a list of predictions
    
    print("Forest Accuracy: ", forest.score(charaTest, starTest)) #Print the accuracy
    print("Root Mean Square Error: ", np.sqrt(mean_squared_error(starTest, predict))) #Print the root mean square error
    print("Classification Report:\n ", classification_report(starTest, predict, target_names = labels, zero_division = 0)) #Print a classification report
    
    #Pull out the Tree
    SingleTree = forest.estimators_[5] #Choose the single tree
    feature_list = list(characteristics.columns) #Create the Feature list for the tree
    export_graphviz(SingleTree, out_file = 'Outcome/tree.dot', feature_names = feature_list, rounded = True, precision = 1) #Generate Dot file
    graph = pydotplus.graph_from_dot_file('Outcome/tree.dot') #Visualization for The Tree
    graph.write_pdf("tree.pdf")
    
    getChara(characteristics, forest) #Get the important Characteristics

In [131]:
#Try dropping the index column
try:
    stars = stars.drop(columns = "index") #Drop the index column

#Fill the except clause so it does not throw the error
except:
    a = 1 #Filler
    
#What to do after the index is dropped
finally:
    labels = ["1", "2", "3"] #Set the labels
    #labels = ["0","1"]
    classifyStars(stars, labels) #Classify by star amount

Forest Accuracy:  0.7990430622009569
Root Mean Square Error:  0.3594253787238923
Classification Report:
                precision    recall  f1-score   support

           1       0.81      0.99      0.89       168
           2       0.00      0.00      0.00        28
           3       0.00      0.00      0.00        13

   micro avg       0.81      0.80      0.80       209
   macro avg       0.27      0.33      0.30       209
weighted avg       0.65      0.80      0.72       209
 samples avg       0.80      0.80      0.80       209

InvocationException: GraphViz's executables not found

In [ ]:
#Random Forest Visulization1 -- Actual and Predicted Values
#

In [ ]:
#New prediction Interface
row = ['Amador', 2019, 48.25406, 16.35915, Wien, Austria, 1190, Creative, '$','https://guide.michelin.com/at/en/vienna/wien', '3']
newX = asarray[row]
ypred = classifyStars.prediction(newX)
print('predicted: %s' % ypred[0])