In [1]:
import json
import pandas as pd
import numpy as np

In [4]:
file_name = "../trip_advisor/tripadvisor_european_restaurants.csv"
import_csv = pd.read_csv(file_name)

c:\users\julia\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [62]:
euro_resto = pd.DataFrame(import_csv)

In [63]:
euro_resto.columns

Index(['restaurant_link', 'restaurant_name', 'original_location', 'country',
       'region', 'province', 'city', 'address', 'latitude', 'longitude',
       'claimed', 'awards', 'popularity_detailed', 'popularity_generic',
       'top_tags', 'price_level', 'price_range', 'meals', 'cuisines',
       'special_diets', 'features', 'vegetarian_friendly', 'vegan_options',
       'gluten_free', 'original_open_hours', 'open_days_per_week',
       'open_hours_per_week', 'working_shifts_per_week', 'avg_rating',
       'total_reviews_count', 'default_language',
       'reviews_count_in_default_language', 'excellent', 'very_good',
       'average', 'poor', 'terrible', 'food', 'service', 'value', 'atmosphere',
       'keywords'],
      dtype='object')

In [64]:
# euro_resto_clean = euro_resto.drop(['original_location', 'claimed', 'keywords', 
#                               'atmosphere', 'awards', 'popularity_detailed', 
#                               'popularity_generic', 'top_tags', 'meals','special_diets', 'features', 
#                               'vegetarian_friendly', 
#                               'vegan_options','gluten_free', 'original_open_hours', 'open_days_per_week',
#                               'open_hours_per_week', 'working_shifts_per_week',
#                               'reviews_count_in_default_language', 'excellent', 'very_good',
#                              'average', 'poor', 'terrible', 'food', 'service', 'value', 'atmosphere',
#                              'keywords'], axis=1)

In [85]:
euro_resto_clean.head(150)

,restaurant_link,restaurant_name,country,region,province,city,address,latitude,longitude,price_level,price_range,cuisines,avg_rating,total_reviews_count,default_language
0,g10001637-d10002227,Le 147,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,€,NaN,French,4.0,36.0,English
1,g10001637-d14975787,Le Saint Jouvent,France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,€,NaN,NaN,4.0,5.0,All languages
2,g10002858-d4586832,Au Bout du Pont,France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,€,NaN,"French, European",5.0,13.0,English
3,g10002986-d3510044,Le Relais de Naiade,France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,€,NaN,French,4.0,34.0,English
4,g10022428-d9767191,Relais Du MontSeigne,France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,€€-€€€,NaN,French,4.5,11.0,All languages
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,g1006521-d10228842,Restaurant La Maison Bleue,France,Ile-de-France,Val-d'Oise,Franconville,"3 rue de Paris, 95130 Franconville France",48.980000,2.235576,€,NaN,"Portuguese, European",4.0,25.0,All languages
146,g1006521-d10379499,La Mona Lisa,France,Ile-de-France,Val-d'Oise,Franconville,"11 boulevard Maurice Berteaux, 95130 Franconvi...",48.985000,2.227500,€€-€€€,NaN,Italian,4.0,51.0,All languages
147,g1006521-d11741405,La Cabane De Massepain,France,Ile-de-France,Val-d'Oise,Franconville,362 rue du General Leclerc 362 Rue du General ...,48.990726,2.206646,€,€4-€9,"French, Fast food",5.0,70.0,All languages
148,g1006521-d11960581,Pizza Hut,France,Ile-de-France,Val-d'Oise,Franconville,"41 rue de Paris, 95130 Franconville France",48.981506,2.232147,€€-€€€,NaN,"Pizza, Italian",3.0,19.0,All languages
149,g1006521-d12182039,O'Tacos,France,Ile-de-France,Val-d'Oise,Franconville,"41 rue de Paris, 95130 Franconville France",48.981900,2.231930,NaN,NaN,Fast food,2.5,10.0,All languages

In [84]:
euro_resto_clean.count()

restaurant_link        1083397
restaurant_name        1083397
country                1083397
region                 1033074
province                742765
city                    682712
address                1083397
latitude               1067607
longitude              1067607
price_level             806192
price_range             304327
cuisines                914294
avg_rating              986761
total_reviews_count    1031162
default_language        988204
dtype: int64

In [87]:
null_cost = euro_resto_clean[euro_resto_clean.notnull()].count()
null_cost

restaurant_link        1083397
restaurant_name        1083397
country                1083397
region                 1033074
province                742765
city                    682712
address                1083397
latitude               1067607
longitude              1067607
price_level             806192
price_range             304327
cuisines                914294
avg_rating              986761
total_reviews_count    1031162
default_language        988204
dtype: int64

In [183]:
britain_df = euro_resto_clean.loc[(euro_resto_clean['country'] == "England")| 
                                    (euro_resto_clean['country'] == "Ireland")|
                                   (euro_resto_clean['country'] == "Scotland")|
                                    (euro_resto_clean['country'] == "Wales")]
britain_df

,restaurant_link,restaurant_name,country,region,province,city,address,latitude,longitude,price_level,price_range,cuisines,avg_rating,total_reviews_count,default_language
478379,g10021931-d3222824,Cafe Mylor,England,Cornwall,Falmouth,Mylor Churchtown,"Penarrow Road Mylor Yacht Harbour, Mylor Churc...",50.177025,-5.053397,€€-€€€,€5-€17,"Cafe, British",4.5,347.0,English
478380,g10029240-d10081265,Subway,England,Surrey,NaN,Byfleet,"39 Old Woking Road, Byfleet KT14 6LG England",51.337010,-0.504781,€,NaN,Deli,3.5,4.0,English
478381,g10029240-d10081305,The Bakery,England,Surrey,NaN,Byfleet,"Coldharbour Road, Byfleet GU22 8SW England",51.327370,-0.510920,NaN,NaN,International,5.0,6.0,English
478382,g10029240-d11841828,Basmati tandoori,England,Surrey,NaN,Byfleet,"23 High Road, Byfleet KT14 7QH England",51.339140,-0.478110,€€-€€€,€6-€11,"Indian, Asian, Bangladeshi",3.0,4.0,English
478383,g10029240-d13010016,China Chef,England,Surrey,NaN,Byfleet,"72 High Road Byfleet, Byfleet KT14 7QL England",51.338920,-0.476430,€€-€€€,NaN,Chinese,2.5,10.0,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886004,g983265-d1520699,Motte & Bailey Restaurant,Ireland,Province of Leinster,County Westmeath,Moate,"Mount Temple, Moate Ireland",53.427540,-7.773970,€€-€€€,NaN,"Irish, European",4.5,104.0,English
886005,g983265-d8155300,Frank's Cafe,Ireland,Province of Leinster,County Westmeath,Moate,"Church Street, Moate Ireland",53.396410,-7.724860,€,NaN,Cafe,5.0,8.0,English
886006,g983265-d8394067,Supermac's & Papa John's,Ireland,Province of Leinster,County Westmeath,Moate,"Main Street, Moate N37 XE93 Ireland",53.395520,-7.720757,€,€4-€10,"American, Irish, Pizza, Fast food",4.5,11.0,English
886007,g983265-d8448630,Tuar Ard Coffee Shop & Restaurant,Ireland,Province of Leinster,County Westmeath,Moate,"Church Street, Moate Ireland",53.395832,-7.725000,€€-€€€,NaN,"Irish, European, Soups, Cafe",4.5,106.0,English
886008,g983265-d9766749,P. Egan's Bar,Ireland,Province of Leinster,County Westmeath,Moate,"Main Street, Moate Ireland",53.395930,-7.721720,€,NaN,"Pub, Bar",5.0,23.0,English

In [170]:
location_explore_df = euro_resto_clean.loc[(euro_resto_clean['latitude'] == 47.83) &
                                           (euro_resto_clean['longitude'] == 13.00) ]
location_explore_df

Empty DataFrame
Columns: [restaurant_link, restaurant_name, country, region, province, city, address, latitude, longitude, price_level, price_range, cuisines, avg_rating, total_reviews_count, default_language]
Index: []

In [148]:
midsummer_df = euro_resto_clean.loc[(euro_resto_clean['restaurant_name'] == "Amador")]
midsummer_df

,restaurant_link,restaurant_name,country,region,province,city,address,latitude,longitude,price_level,price_range,cuisines,avg_rating,total_reviews_count,default_language
308217,g190454-d10147252,Amador,Austria,Vienna Region,NaN,Vienna,"Grinzinger Strasse 86, Vienna 1190 Austria",48.25391,16.358658,€€€€,€89-€265,European,4.5,72.0,English
324170,g1047911-d4752819,Amador,Spain,Valencian Country,Province of Alicante,NaN,"Calle colonizacion, Pilar de la Horadada Spain",37.86996,-0.798050,€€-€€€,NaN,"Mediterranean, European, Spanish",4.5,36.0,English

In [165]:
cost = euro_resto_clean['price_level'].unique()
cost

array(['€', '€€-€€€', nan, '€€€€'], dtype=object)

In [169]:
euro_resto_clean['price_level'].notnull().count()

1083397

In [184]:
britain_df.dtypes

restaurant_link         object
restaurant_name         object
country                 object
region                  object
province                object
city                    object
address                 object
latitude               float64
longitude              float64
price_level             object
price_range             object
cuisines                object
avg_rating             float64
total_reviews_count    float64
default_language        object
dtype: object