# Zomato Data ETL

In [11]:
import json
import pandas as pd
import numpy as np

In [2]:
#import json data

file_to_read = "../zomato_1/file4.json"
with open(file_to_read, mode='r') as file:
    json_data = json.load(file)

In [3]:
# creating dataframes

#overall dataframe to hold all data
zomato_df = pd.DataFrame()

In [4]:
 #calculate the length of the first layer
len(json_data)

479

# Individual Restaurant Layer --> Build into future Loop

In [5]:
#Current Index Number
#building in variables to allow for future looping

#layer of the json file
index= 1

#individual restaurant
resto = 0

In [6]:
#dataframe to hold looping information --> will move to loop once created
resto_df = pd.DataFrame()

In [7]:
#Find the first 'layer' of restaurants --Index = 1
# Find how many restaurants are in the first layer
number_results = json_data[index]['results_found']
number_results

1263908

In [8]:
#Pull the relevant data points for the restaurant
#next steps: create as a function to allow for easy looping through the multiple layers of JSON Data

resto_df['ID'] =  [json_data[index]['restaurants'][resto]['restaurant']['R']["res_id"]]
resto_df['name'] = [json_data[index]['restaurants'][resto]['restaurant']['name']]
resto_df['cuisines'] = [json_data[index]['restaurants'][resto]['restaurant']['cuisines']]
resto_df['price_range'] = [json_data[index]['restaurants'][resto]['restaurant']['price_range']]
resto_df['user_rating'] = [json_data[index]['restaurants'][resto]['restaurant']['user_rating']['aggregate_rating']]
resto_df['address'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['address']]
resto_df['city'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['city']]
resto_df['country_id'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['country_id']]
resto_df['longitude'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['longitude']]
resto_df['latitude'] = [json_data[index]['restaurants'][resto]['restaurant']['location']['latitude']]

In [9]:
# Display 
resto_df

,ID,name,cuisines,price_range,user_rating,address,city,country_id,longitude,latitude
0,16604370,Mad Cowes Cafe,"Breakfast, Coffee and Tea, Modern Australian",2,3.7,"4/17 The Esplanade, Cowes, VIC",Phillip Island,14,145.2378130000,-38.4483070000

In [10]:
#append the information from the resto_df to zomato_df

zomato_df.append(resto_df)

,ID,name,cuisines,price_range,user_rating,address,city,country_id,longitude,latitude
0,16604370,Mad Cowes Cafe,"Breakfast, Coffee and Tea, Modern Australian",2,3.7,"4/17 The Esplanade, Cowes, VIC",Phillip Island,14,145.2378130000,-38.4483070000