# Exploratory Michelin Star

In [83]:
#import the dependencies
import pandas as pd

In [98]:
#create a list of files --> will be used in the loop to import
file_names = ["../michelin/one-star-michelin-restaurants.csv",
              "../michelin/two-stars-michelin-restaurants.csv",
              "../michelin/three-stars-michelin-restaurants.csv"]

In [106]:
#create an empty DF that will eventually hold the 3 files (perm-DF)
michelin_df = pd.DataFrame()
michelin_df

Empty DataFrame
Columns: []
Index: []

In [86]:
# one_star = pd.read_csv("../michelin/one-star-michelin-restaurants.csv")
# one_star_df = pd.DataFrame(one_star)

In [107]:
#import the data
#for loop to cycle through each file

for i in file_names:
    #import the data
    michelin_data = pd.read_csv(i)
    
    #clear the temp df
    temp_df = pd.DataFrame()
    
    #add file to DF
    temp_df = pd.DataFrame(michelin_data)
    
    #create a column to add the # of stars
    temp_df['stars'] = (file_names.index(i)+1)
    
    #append temp df to michelin_df
    michelin_df = michelin_df.append(temp_df, ignore_index=True)

michelin_df

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,stars
0,Kilian Stuba,2019,47.348580,10.171140,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.079170,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.034090,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.040060,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.368520,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1
...,...,...,...,...,...,...,...,...,...,...,...
690,Fat Duck,2019,51.508280,-0.702320,Bray,United Kingdom,SL6 2AQ,Creative,NaN,https://guide.michelin.com/gb/en/buckinghamshi...,3
691,Waterside Inn,2019,51.507730,-0.701210,Bray,United Kingdom,SL6 2AT,Classic French,NaN,https://guide.michelin.com/gb/en/buckinghamshi...,3
692,Alain Ducasse at The Dorchester,2019,51.507120,-0.152520,Mayfair,United Kingdom,W1K 1QA,French,NaN,https://guide.michelin.com/gb/en/greater-londo...,3
693,The Araki,2019,51.511826,-0.140389,Mayfair,United Kingdom,W1S 3BF,Japanese,NaN,https://guide.michelin.com/gb/en/greater-londo...,3
694,Gordon Ramsay,2019,51.485460,-0.162020,Chelsea,United Kingdom,SW3 4HP,French,NaN,https://guide.michelin.com/gb/en/greater-londo...,3

In [6]:
#create a function to :
    #loop through the different files (based on the list)
    #clear the temp DF
    #import the information to temp datafram
    #write a lambda function to indicate the # of stars based on the file name (index on list +1?)
    #create a location-key 
    #append to the perm-DF

In [ ]:
# Clean the data

In [8]:
#join with the zomato based on location key